html {
	overflow-y: scroll;
}

body {
	background-color: #fff;
	color: #525c60;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
}

pre, code {
	margin: 0;
	overflow-x: auto;
}

a {
	color: #606c71;
}

hr {
	border: 0 none;
	border-top: 1.5px dashed #aaa;
	background: none;
	height: 0;
}

li {
	margin: 2px 0;
}

li.x {
	margin: 10px 0;
}

#header a, #nav a, #menu a {
	text-decoration: none;
}

#nav a:hover {
	background-color: #ddd;
}

#menu {
	clear: both;
	color: #525c60;
	overflow: hidden;
	background-color: #75858a;
	padding-left: 0.3ex;
	padding-top: 0.5ex;
	padding-bottom: 0.4ex;
}

#menu a {
	padding: 0.5ex 1ex;
	color: #fff;
}

#menu a:hover {
	background-color: #525c60;
}

#header {
	background-color: #eee;
	clear: both;
	color: #555;
	font-size: 1.78em;
	padding: 0.4ex 0.0ex 0.4ex 0.7em;
}

#headerLink {
	color: #6a777c;
	margin-left: 2px;
	font-size: 1.5rem;
}

#headerSubtitle {
	color: #525c60;
	font-size: 0.75em;
	margin-left: 0.5em;
}

h1 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.4em;
}

h2 {
	margin: 0.5em 1ex 0.5ex 0;
	font-size: 1.3em;
}

h3 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.0em;
}

h4 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 0.9em;
}

#content {
	clear: both;
	margin: 0;
	padding: 0;
}

#nav {
	float: left;
	margin: 0 1px 0 0;
	padding: 1em 0;
	width: 200px;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav li ul {
	padding-left: 0.6em !important;
}

#nav li a {
	display: block;
	margin: 0;
	padding: 0.8ex 2em 0.8ex 1em;
}

#main {
	margin: 0 0 0 200px;
	max-width: 50em;
	padding: 1.5em;
}

.left {
	float: left;
	margin: 0;
	padding: 0;
}

.right {
	float: right;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

.paper-thumb-7 {
	background-color: #ffffff;
	width: 12%;
	display: inline-block;
}

.paper-thumb-5 {
	background-color: #ffffff;
	width: 18%;
	display: inline-block;
}

.skel-thumb-5 {
	width: 15%;
	display: inline-block;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.info {
	background-color: #f2f2f2;
	border-left: 6px solid #b2b2b2;
	border-radius: 0px 10px 10px 0px;
	margin-bottom: 15px;
	padding: 4px 12px;
}

@media screen and (max-width: 620px) {
	#nav {
		display: none;
	}
	#main {
		margin: 0 0 0 0px;
	}
}